@import "bootstrap/dist/css/bootstrap.min.css";
@import "toastr/build/toastr";
@import "font-awesome-sprockets";
@import "font-awesome";

$twtblue: rgb(29, 161, 242);
$twbluelight: #0dcaf01a;
$twbluedark: #0083d4eb;
$bordercolor: #607d8b47;

.twt-btn{
  color: white;
  background-color: $twtblue;
  border-color: $twtblue;
}

.twt-btn:hover{
  color: white;
}

#home-area{
  width: 100%;
  height: 100%;
  display: flex;
}

#home-background{
  background-image: url("home-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.twitter-light{
  height: calc(3.5rem + 2px);
  border-color: $twtblue;
  color: $twtblue;
}

.twitter-dark{
  height: calc(3.5rem + 2px);
  background-color: $twtblue;
  color: white;
}

.twitter-light:hover{
  color: $twtblue;
  background-color: $twbluelight;
}

.twitter-dark:hover{
  color: white;
  background-color: $twbluedark;
}

.tw-btn{
  -webkit-box-pack: center !important;
  justify-content: center !important;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center; 
}

.tw-text{
  color: $twtblue !important;
  text-decoration: none !important;
}

.tw-link:hover{
  color: $twtblue i !important;
  text-decoration: underline !important;
}

.tw-btn > span{
  padding-left: 20px;
  padding-right: 20px;
}

.w-50{
  width: 50% !important;
}

.w-100{
  width: 100% !important;
}

.w-80{
  width: 80% !important;
}

.w-130{
  width: 130% !important;
}

#left-bar{
  font-size: larger;
  position: fixed;
  z-index: 1030;
}

.left-bar-logo{
  position: fixed;
  z-index: 1030;
}

#left-bar > a{
  text-decoration: none;
}

#right-bar{
  position: fixed;
  z-index: 1030;
}

.tw-menu-item{
  color: black;
  padding: 14px 14px 14px 14px;
  font-weight: bolder;
  text-decoration: none;
}

.tw-menu-item > i{
  margin-right: 10px;
}

.tw-menu-item:hover{
  background-color: $twbluelight !important;
  color: $twtblue !important;
  border-radius: 50px;
}

#tw-modal-footer{
  justify-content: space-between !important;
}

#tw-modal-footer > div > i{
  color: $twtblue !important;
  padding: 8px 8px 8px 8px;
  font-size: 23px;
  cursor: pointer !important;
}

#tw-modal-footer > div > i:hover{
  background-color: $twbluelight !important;
  border-radius: 50px;
}

#tw-modal-txarea{
  border: none !important;
 	resize: none !important;
  width: 100% !important;
}

#tw-modal-txarea:focus{
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.hide-in-desktop{
  display: none;
}

#main-feed{
  border-right: 1px solid $bordercolor;
  border-left: 1px solid $bordercolor;
}

#main-feed > .d-flex > i {
  color: $twtblue !important;
  padding: 8px 8px 8px 8px;
  font-size: 23px;
  cursor: pointer !important;
}

#main-feed > .d-flex > i:hover{
  background-color: $twbluelight !important;
  border-radius: 50px;
}

#search-input{
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #e9ecef;
  border-radius: 0px 20px 20px 0px;;
}

.right-bar-card{
  background-color: #f7f9fa;
  border-radius: 20px;
  align-items: center;
}

.right-bar-card > .d-flex > i{
  color: $twtblue !important;
  padding: 8px 8px 8px 8px;
  font-size: 20px;
  cursor: pointer !important;
}

.right-bar-card > .d-flex{
  border-bottom: 1px solid $bordercolor;
  padding: 10px 10px 10px 10px;
}

.right-bar-card > .d-flex > i:hover{
  background-color: $twbluelight !important;
  border-radius: 50px;
}

.right-bar-item > .d-flex{
  align-items: center;
  border-bottom: 1px solid $bordercolor;
  padding: 10px 10px 10px 10px;
}

.right-bar-item > .d-flex > i{
  padding: 10px 10px 10px 10px;
}

.right-bar-item > .d-flex > i:hover{
  color: $twtblue;
  background-color: $twbluelight;
  border-radius: 50px;
}

.mini-follow-btn{
  width: 5rem !important;
  height: auto !important;
}

.last-right-bar-item{
  border-bottom: none !important;
}

.right-bar-item:last-child{
  border-radius: 0px 0px 20px 20px;;
}

.right-bar-item:hover{
  background-color: #e4ecf1;
  cursor: pointer;
}

.trend-count{
  font-size: 0.75rem;
}

#search-area > span > i{
  color: #5b7083;

}

#search-area > span{
  border-radius: 20px 0px 0px 20px;;
}

.user-footer{
  align-items: center;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  z-index: 1030;
  margin-bottom: 20px;
}

.user-footer > .d-flex > .d-block{
  padding-left: 8px;
}

h6.username{
  font-size: small;
  color: #6e8091;
}

.user-footer:hover{
  background-color: $twbluelight;
  border-radius: 30px;
}

.tweet{
  border-bottom: 1px solid $bordercolor;
  padding: 10px 10px 10px 10px;
}

.tweet:hover{
  background-color: #e4ecf1;
  cursor: pointer;
}

.tweet-image{
  border: 1px solid $bordercolor;
  border-radius: 30px;
}

.tweet-actions{
  justify-content: space-around;
}

.tweet-actions > i{
  font-size: larger;
  color: #6e8091;
  padding: 8px 8px 8px 8px;
  border-radius: 50px;
}

i.comment:hover{
  color: $twtblue;
  background-color: $twbluelight;
}

i.retweet:hover{
  color: #4caf50;
  background-color: #90ee9052;
}

i.like:hover{
  color: red;
  background-color: #ff000033;
}

i.share:hover{
  color: $twtblue;
  background-color: $twbluelight;
}

#main{
  --bs-gutter-x: 0rem;
  padding: 2px 2px 2px 2px;
}

#profile-picture{
  position: absolute;
  margin-top: -67px;
  margin-left: 25px;
}

#profile-picture > div > img{
  border-radius: 100px;
  border: 4px solid white;
  cursor: pointer;
}

.profile-details{
  padding-left: 20px;
  margin-top: 4rem;
}

.profile-icons{
  align-items: center;
}

.profile-icons > i{
  color: #6e8091;
  padding-right: 5px;
}

small.website{
  color: $twtblue;
  cursor: pointer;
}

small.website:hover{
  text-decoration: underline;
}

.profile-edit{
  float: right;
  height: calc(2.5rem + 2px) !important;
}

.profile-tabs > ul > .nav-item {
  color: #6e8091;
  width: 20% !important;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
}

.profile-tabs > ul > .active{
  color: $twtblue;
  border-bottom: 2px solid $twbluedark;
}

.profile-tabs > ul > .nav-item:hover{
  background-color: $twbluelight;
  color: $twtblue;
}

@media only screen and (max-width: 600px) {
  .fluid-in-mobile{
    width: 100% !important;
  }
  
  .hide-in-mobile{
    display: none !important;
  }

  .show-in-mobile{
    display: block !important;
  }

  #home-area{
    --bs-gutter-x: 0rem;
  }
  
  #home-area > .col-md-6{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

  #main{
    padding: 20px 0px 0px 0px !important;
    --bs-gutter-x: 1.5rem;
  }
}